USE [IssuSiparisDB]
GO
/****** Object:  StoredProcedure [dbo].[prTumGemilerinSatislari]    Script Date: 09/06/2018 15:45:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[prTumGemilerinSatislari]
	@pIlkTarih datetime,
	@pSonTarih datetime
AS
BEGIN
	SELECT @pIlkTarih=CONVERT(VARCHAR(10),@pIlkTarih,110)
	SELECT @pSonTarih=CONVERT(VARCHAR(10),@pSonTarih,110)

	DECLARE @IlkTarih datetime = DATEADD(dd,DATEDIFF(dd,0,@pIlkTarih),0)
	DECLARE @SonTarih datetime = DATEADD(ms,-3,DATEADD(dd,1,@pSonTarih))

	-- Verilen Su miktarlari
	SELECT GemiAdi, 
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '01' THEN Miktar ELSE 0 END) AS D01,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '02' THEN Miktar ELSE 0 END) AS D02,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '03' THEN Miktar ELSE 0 END) AS D03,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '04' THEN Miktar ELSE 0 END) AS D04,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '05' THEN Miktar ELSE 0 END) AS D05,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '06' THEN Miktar ELSE 0 END) AS D06,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '07' THEN Miktar ELSE 0 END) AS D07,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '08' THEN Miktar ELSE 0 END) AS D08,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '09' THEN Miktar ELSE 0 END) AS D09,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '10' THEN Miktar ELSE 0 END) AS D10,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '11' THEN Miktar ELSE 0 END) AS D11,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '12' THEN Miktar ELSE 0 END) AS D12,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '13' THEN Miktar ELSE 0 END) AS D13,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '14' THEN Miktar ELSE 0 END) AS D14,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '15' THEN Miktar ELSE 0 END) AS D15,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '16' THEN Miktar ELSE 0 END) AS D16,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '17' THEN Miktar ELSE 0 END) AS D17,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '18' THEN Miktar ELSE 0 END) AS D18,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '19' THEN Miktar ELSE 0 END) AS D19,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '20' THEN Miktar ELSE 0 END) AS D20,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '21' THEN Miktar ELSE 0 END) AS D21,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '22' THEN Miktar ELSE 0 END) AS D22,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '23' THEN Miktar ELSE 0 END) AS D23,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '24' THEN Miktar ELSE 0 END) AS D24,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '25' THEN Miktar ELSE 0 END) AS D25,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '26' THEN Miktar ELSE 0 END) AS D26,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '27' THEN Miktar ELSE 0 END) AS D27,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '28' THEN Miktar ELSE 0 END) AS D28,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '29' THEN Miktar ELSE 0 END) AS D29,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '30' THEN Miktar ELSE 0 END) AS D30,
		SUM(CASE WHEN DATEPART(DAY,A.Tarih) = '31' THEN Miktar ELSE 0 END) AS D31
			FROM (
				Select  b.SiraNo, b.GemiAdi, T.Miktar , CAST(t.Tarih AS DATE) as Tarih
				From Barge b Left  OUTER Join TeslimAdetleri t ON b.BargeID=t.BargeID AND Tarih  BETWEEN @IlkTarih AND @SonTarih 
				GROUP BY b.SiraNo, GemiAdi, T.Miktar ,CAST(t.Tarih AS DATE)
				) A
	GROUP BY SiraNo, GemiAdi
	ORDER BY SiraNo

	-- Gidilen Gemi adetleri
	SELECT GemiAdi, 
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '01' THEN Adet ELSE 0 END) AS D01,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '02' THEN Adet ELSE 0 END) AS D02,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '03' THEN Adet ELSE 0 END) AS D03,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '04' THEN Adet ELSE 0 END) AS D04,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '05' THEN Adet ELSE 0 END) AS D05,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '06' THEN Adet ELSE 0 END) AS D06,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '07' THEN Adet ELSE 0 END) AS D07,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '08' THEN Adet ELSE 0 END) AS D08,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '09' THEN Adet ELSE 0 END) AS D09,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '10' THEN Adet ELSE 0 END) AS D10,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '11' THEN Adet ELSE 0 END) AS D11,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '12' THEN Adet ELSE 0 END) AS D12,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '13' THEN Adet ELSE 0 END) AS D13,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '14' THEN Adet ELSE 0 END) AS D14,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '15' THEN Adet ELSE 0 END) AS D15,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '16' THEN Adet ELSE 0 END) AS D16,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '17' THEN Adet ELSE 0 END) AS D17,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '18' THEN Adet ELSE 0 END) AS D18,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '19' THEN Adet ELSE 0 END) AS D19,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '20' THEN Adet ELSE 0 END) AS D20,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '21' THEN Adet ELSE 0 END) AS D21,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '22' THEN Adet ELSE 0 END) AS D22,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '23' THEN Adet ELSE 0 END) AS D23,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '24' THEN Adet ELSE 0 END) AS D24,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '25' THEN Adet ELSE 0 END) AS D25,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '26' THEN Adet ELSE 0 END) AS D26,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '27' THEN Adet ELSE 0 END) AS D27,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '28' THEN Adet ELSE 0 END) AS D28,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '29' THEN Adet ELSE 0 END) AS D29,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '30' THEN Adet ELSE 0 END) AS D30,
		SUM(CASE WHEN DATEPART(DAY,Tarih) = '31' THEN Adet ELSE 0 END) AS D31
			FROM (
				Select  b.SiraNo, b.GemiAdi, T.Adet , CAST(t.Tarih AS DATE) as Tarih
				From Barge b Left  OUTER Join TeslimAdetleri t ON b.BargeID=t.BargeID AND Tarih  BETWEEN @IlkTarih AND @SonTarih 
				GROUP BY b.SiraNo, GemiAdi, T.Adet ,CAST(t.Tarih AS DATE)
				) A
	GROUP BY SiraNo, GemiAdi
	ORDER BY SiraNo

END
