USE [IssuSiparisDB]
GO
/****** Object:  Table [dbo].[YakitDolum]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[YakitDolum]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[YakitDolum](
	[YakitDolumID] [int] IDENTITY(1,1) NOT NULL,
	[BargeID] [int] NOT NULL,
	[FisID] [int] NULL,
	[Tarih] [date] NOT NULL,
	[Miktar] [int] NOT NULL,
	[YakitVerenFirma] [nvarchar](50) NULL,
 CONSTRAINT [PK_YakitDolum] PRIMARY KEY CLUSTERED 
(
	[YakitDolumID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[YakitDolum] ON
INSERT [dbo].[YakitDolum] ([YakitDolumID], [BargeID], [FisID], [Tarih], [Miktar], [YakitVerenFirma]) VALUES (1, 1, NULL, CAST(0x16380B00 AS Date), 500, N'PETROL OFİSİ')
INSERT [dbo].[YakitDolum] ([YakitDolumID], [BargeID], [FisID], [Tarih], [Miktar], [YakitVerenFirma]) VALUES (2, 2, NULL, CAST(0x00380B00 AS Date), 3250, N'PETROL OFİSİ')
INSERT [dbo].[YakitDolum] ([YakitDolumID], [BargeID], [FisID], [Tarih], [Miktar], [YakitVerenFirma]) VALUES (3, 3, NULL, CAST(0x00380B00 AS Date), 3250, N'PETROL OFİSİ')
SET IDENTITY_INSERT [dbo].[YakitDolum] OFF
/****** Object:  Table [dbo].[TeslimFisi]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TeslimFisi]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TeslimFisi](
	[TeslimFisID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NULL,
	[BargeID] [int] NULL,
	[FisID] [int] NULL,
	[Musteri] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](150) NULL,
	[VerilenSu] [int] NULL,
	[HarcananMazot] [int] NULL,
	[AlinanPara] [money] NULL,
	[TeslimYeri] [nvarchar](50) NULL,
	[Tarih] [date] NULL,
	[BaslamaTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[SeyirSuresi] [int] NULL,
	[DolumSuresi] [int] NULL,
	[NakitFisID] [int] NULL,
 CONSTRAINT [PK_TeslimFis] PRIMARY KEY CLUSTERED 
(
	[TeslimFisID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[TeslimFisi] ON
INSERT [dbo].[TeslimFisi] ([TeslimFisID], [SiparisID], [BargeID], [FisID], [Musteri], [Aciklama], [VerilenSu], [HarcananMazot], [AlinanPara], [TeslimYeri], [Tarih], [BaslamaTarihi], [BitisTarihi], [SeyirSuresi], [DolumSuresi], [NakitFisID]) VALUES (1, 20, 1, NULL, N'AJUN', N'', 30, -28, 0.0000, N'KUMKAPI', NULL, CAST(0x0000A2A400E13840 AS DateTime), CAST(0x0000A2A400F31290 AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TeslimFisi] ([TeslimFisID], [SiparisID], [BargeID], [FisID], [Musteri], [Aciklama], [VerilenSu], [HarcananMazot], [AlinanPara], [TeslimYeri], [Tarih], [BaslamaTarihi], [BitisTarihi], [SeyirSuresi], [DolumSuresi], [NakitFisID]) VALUES (2, 21, 6, NULL, N'ERK', N'', 100, -57, 0.0000, N'KUMKAPI', NULL, CAST(0x0000A2A400DEB3B8 AS DateTime), CAST(0x0000A2A400F73140 AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TeslimFisi] ([TeslimFisID], [SiparisID], [BargeID], [FisID], [Musteri], [Aciklama], [VerilenSu], [HarcananMazot], [AlinanPara], [TeslimYeri], [Tarih], [BaslamaTarihi], [BitisTarihi], [SeyirSuresi], [DolumSuresi], [NakitFisID]) VALUES (3, 22, 7, NULL, N'KORFEZ ISSU - SUAT DENİZCİLİK', N'', 23, -20, 0.0000, N'YARIMCA', NULL, CAST(0x0000A2A400CDFE60 AS DateTime), CAST(0x0000A2A400D8FAE0 AS DateTime), NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[TeslimFisi] OFF
/****** Object:  Table [dbo].[SuDolum]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SuDolum]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SuDolum](
	[SuDolumID] [int] IDENTITY(1,1) NOT NULL,
	[DolumSeyirSuresi] [int] NULL,
	[DolumBargeID] [int] NULL,
	[AlanSeyirSuresi] [int] NULL,
	[AlanBargeID] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[Miktar] [int] NOT NULL,
	[BaslamaTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[DolumFisID] [int] NULL,
	[AlanFisID] [int] NULL,
 CONSTRAINT [PK_SuDolum] PRIMARY KEY CLUSTERED 
(
	[SuDolumID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[SuDolum] ON
INSERT [dbo].[SuDolum] ([SuDolumID], [DolumSeyirSuresi], [DolumBargeID], [AlanSeyirSuresi], [AlanBargeID], [Tarih], [Miktar], [BaslamaTarihi], [BitisTarihi], [DolumFisID], [AlanFisID]) VALUES (132, 0, 9, 0, 2, CAST(0x02380B00 AS Date), 110, CAST(0x0000A2A7000019C8 AS DateTime), CAST(0x0000A2A7000019C8 AS DateTime), 178, 179)
INSERT [dbo].[SuDolum] ([SuDolumID], [DolumSeyirSuresi], [DolumBargeID], [AlanSeyirSuresi], [AlanBargeID], [Tarih], [Miktar], [BaslamaTarihi], [BitisTarihi], [DolumFisID], [AlanFisID]) VALUES (133, 0, 9, 0, 4, CAST(0x02380B00 AS Date), 200, CAST(0x0000A2A700003F48 AS DateTime), CAST(0x0000A2A700003F48 AS DateTime), 180, 181)
INSERT [dbo].[SuDolum] ([SuDolumID], [DolumSeyirSuresi], [DolumBargeID], [AlanSeyirSuresi], [AlanBargeID], [Tarih], [Miktar], [BaslamaTarihi], [BitisTarihi], [DolumFisID], [AlanFisID]) VALUES (134, 0, 9, 0, 5, CAST(0x02380B00 AS Date), 240, CAST(0x0000A2A700000CE4 AS DateTime), CAST(0x0000A2A700000CE4 AS DateTime), 182, 183)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[SuDolum] OFF
/****** Object:  Table [dbo].[SuDevresiBozukGemiler]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SuDevresiBozukGemiler]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SuDevresiBozukGemiler](
	[DevresiBozukGemiID] [int] NOT NULL,
	[GemiAdi] [nvarchar](50) NULL,
	[SaatteGidenSu] [int] NULL,
	[Aciklama] [nvarchar](150) NULL,
 CONSTRAINT [PK_SuDevresiBozukGemiler] PRIMARY KEY CLUSTERED 
(
	[DevresiBozukGemiID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[SuDevresiBozukGemiler] ON
INSERT [dbo].[SuDevresiBozukGemiler] ([DevresiBozukGemiID], [GemiAdi], [SaatteGidenSu], [Aciklama]) VALUES (1, N'MSC MALAGA', 16, N'')
INSERT [dbo].[SuDevresiBozukGemiler] ([DevresiBozukGemiID], [GemiAdi], [SaatteGidenSu], [Aciklama]) VALUES (2, N'MSC ADRIANA', 16, N'')
INSERT [dbo].[SuDevresiBozukGemiler] ([DevresiBozukGemiID], [GemiAdi], [SaatteGidenSu], [Aciklama]) VALUES (3, N'NAZLIM', 30, NULL)
SET IDENTITY_INSERT [dbo].[SuDevresiBozukGemiler] OFF
/****** Object:  Table [dbo].[Siparis]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Siparis]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Siparis](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[OnSiparis] [bit] NOT NULL,
	[GemiAdi] [nvarchar](50) NULL,
	[MusteriAdi] [nvarchar](50) NULL,
	[GeldigiYon] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](150) NULL,
	[Miktar] [int] NULL,
	[Ucret] [money] NULL,
	[TeslimYeri] [nvarchar](50) NULL,
	[TeslimTarihi] [datetime] NULL,
	[BargeID] [int] NULL,
	[TeslimFisID] [int] NULL,
	[HarcananYakit] [int] NULL,
	[EK1] [nvarchar](1) NULL,
	[KayitTarihi] [datetime] NULL,
	[DegisiklikTarihi] [datetime] NULL,
 CONSTRAINT [PK_Siparis] PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Siparis] ON
INSERT [dbo].[Siparis] ([SiparisID], [OnSiparis], [GemiAdi], [MusteriAdi], [GeldigiYon], [Aciklama], [Miktar], [Ucret], [TeslimYeri], [TeslimTarihi], [BargeID], [TeslimFisID], [HarcananYakit], [EK1], [KayitTarihi], [DegisiklikTarihi]) VALUES (2, 0, N'AZOVSKIY VETER', N'SOYLU', N'KARADENİZ', N'', 50, NULL, N'KUMKAPI', CAST(0x0000A2A600000000 AS DateTime), 3, 57, -31, NULL, CAST(0x0000A2A40119C6BA AS DateTime), NULL)
INSERT [dbo].[Siparis] ([SiparisID], [OnSiparis], [GemiAdi], [MusteriAdi], [GeldigiYon], [Aciklama], [Miktar], [Ucret], [TeslimYeri], [TeslimTarihi], [BargeID], [TeslimFisID], [HarcananYakit], [EK1], [KayitTarihi], [DegisiklikTarihi]) VALUES (3, 1, N'DIAMOND', N'ADLER', N'KARADENİZ', N'', 25, NULL, N'KUMKAPI', CAST(0x0000A26700000000 AS DateTime), NULL, NULL, NULL, NULL, CAST(0x0000A2A4011A0FFE AS DateTime), NULL)
INSERT [dbo].[Siparis] ([SiparisID], [OnSiparis], [GemiAdi], [MusteriAdi], [GeldigiYon], [Aciklama], [Miktar], [Ucret], [TeslimYeri], [TeslimTarihi], [BargeID], [TeslimFisID], [HarcananYakit], [EK1], [KayitTarihi], [DegisiklikTarihi]) VALUES (4, 0, N'DIAMOND', N'ADLER', N'KARADENİZ', N'', 25, NULL, N'KUMKAPI', CAST(0x0000A2A500000000 AS DateTime), 4, 46, -20, NULL, CAST(0x0000A2A4011A446F AS DateTime), NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
SET IDENTITY_INSERT [dbo].[Siparis] OFF
/****** Object:  Table [dbo].[SayacDolum]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SayacDolum]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SayacDolum](
	[SayacID] [int] IDENTITY(1,1) NOT NULL,
	[BargeID] [int] NULL,
	[FisID] [int] NULL,
	[Gemi] [nvarchar](50) NULL,
	[DolumTarihi] [date] NULL,
	[BaslangicSayac] [int] NULL,
	[BitisSayac] [int] NULL,
	[SayacSonuc] [int] NULL,
	[GemideOkunan] [int] NULL,
	[GemideOlan] [int] NULL,
	[SayacFarki] [int] NULL,
	[AlinanSuFarki] [int] NULL,
	[SeyirSuresi] [int] NULL,
	[Aciklama] [nvarchar](150) NULL,
 CONSTRAINT [PK_SayacDolum] PRIMARY KEY CLUSTERED 
(
	[SayacID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[SayacDolum] ON
INSERT [dbo].[SayacDolum] ([SayacID], [BargeID], [FisID], [Gemi], [DolumTarihi], [BaslangicSayac], [BitisSayac], [SayacSonuc], [GemideOkunan], [GemideOlan], [SayacFarki], [AlinanSuFarki], [SeyirSuresi], [Aciklama]) VALUES (54, 9, 71, NULL, CAST(0x01380B00 AS Date), 995428, 996401, 973, 930, 0, -26636, 43, 0, N'')
INSERT [dbo].[SayacDolum] ([SayacID], [BargeID], [FisID], [Gemi], [DolumTarihi], [BaslangicSayac], [BitisSayac], [SayacSonuc], [GemideOkunan], [GemideOlan], [SayacFarki], [AlinanSuFarki], [SeyirSuresi], [Aciklama]) VALUES (55, 8, 72, NULL, CAST(0x01380B00 AS Date), 996401, 997011, 610, 590, 0, 0, 20, 0, N'')
INSERT [dbo].[SayacDolum] ([SayacID], [BargeID], [FisID], [Gemi], [DolumTarihi], [BaslangicSayac], [BitisSayac], [SayacSonuc], [GemideOkunan], [GemideOlan], [SayacFarki], [AlinanSuFarki], [SeyirSuresi], [Aciklama]) VALUES (56, 1, 73, NULL, CAST(0x02380B00 AS Date), 997011, 997194, 183, 205, 0, 0, -22, 0, N'')
SET IDENTITY_INSERT [dbo].[SayacDolum] OFF
/****** Object:  Table [dbo].[Rakip]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rakip]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rakip](
	[RakipID] [int] IDENTITY(1,1) NOT NULL,
	[RakipAdi] [nvarchar](50) NOT NULL,
	[Gemi] [nvarchar](50) NULL,
	[Firma] [nvarchar](50) NULL,
	[Tarih] [date] NULL,
	[Aciklama] [nvarchar](150) NULL,
 CONSTRAINT [PK_Rakip] PRIMARY KEY CLUSTERED 
(
	[RakipID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Rakip] ON
INSERT [dbo].[Rakip] ([RakipID], [RakipAdi], [Gemi], [Firma], [Tarih], [Aciklama]) VALUES (1, N'MELİSA G', N'VOLGO BALT 206', N'ALBROS', CAST(0x0A380B00 AS Date), NULL)
INSERT [dbo].[Rakip] ([RakipID], [RakipAdi], [Gemi], [Firma], [Tarih], [Aciklama]) VALUES (2, N'MELİSA G', N'BEHÇET C', N'CANBAZ', CAST(0x01380B00 AS Date), NULL)
INSERT [dbo].[Rakip] ([RakipID], [RakipAdi], [Gemi], [Firma], [Tarih], [Aciklama]) VALUES (3, N'MELİSA G', N'COSMO', N'MEDBULK', CAST(0x02380B00 AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Rakip] OFF
/****** Object:  Table [dbo].[NakitOdeme]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NakitOdeme]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NakitOdeme](
	[NakitOdemeID] [int] IDENTITY(1,1) NOT NULL,
	[BargeID] [int] NOT NULL,
	[GemiAdi] [nvarchar](50) NULL,
	[Tarih] [date] NULL,
	[Aciklama] [nvarchar](50) NULL,
	[TeslimYeri] [nvarchar](50) NULL,
	[VerilenM3] [int] NULL,
 CONSTRAINT [PK_NakitOdeme] PRIMARY KEY CLUSTERED 
(
	[NakitOdemeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[NakitOdeme] ON
INSERT [dbo].[NakitOdeme] ([NakitOdemeID], [BargeID], [GemiAdi], [Tarih], [Aciklama], [TeslimYeri], [VerilenM3]) VALUES (1, 3, N'FISKELA', CAST(0x00380B00 AS Date), N'350 USD ALINDI', N'KUMKAPI', 50)
INSERT [dbo].[NakitOdeme] ([NakitOdemeID], [BargeID], [GemiAdi], [Tarih], [Aciklama], [TeslimYeri], [VerilenM3]) VALUES (2, 4, N'ILHAN YILMAZ', CAST(0x00380B00 AS Date), N'480 TL ALINDI', N'KUMKAPI', 40)
INSERT [dbo].[NakitOdeme] ([NakitOdemeID], [BargeID], [GemiAdi], [Tarih], [Aciklama], [TeslimYeri], [VerilenM3]) VALUES (3, 4, N'AYDIN TOKER', CAST(0x04380B00 AS Date), N'110 TL ALINDI', N'KUMKAPI', 10)
SET IDENTITY_INSERT [dbo].[NakitOdeme] OFF
/****** Object:  Table [dbo].[KaraListe]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KaraListe]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KaraListe](
	[KaraListeID] [int] IDENTITY(1,1) NOT NULL,
	[Firma] [nvarchar](50) NULL,
	[Gemi] [nvarchar](100) NULL,
	[Aciklama] [nvarchar](150) NULL,
	[Tutar] [numeric](18, 2) NULL,
 CONSTRAINT [PK_KaraListe] PRIMARY KEY CLUSTERED 
(
	[KaraListeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[KaraListe] ON
INSERT [dbo].[KaraListe] ([KaraListeID], [Firma], [Gemi], [Aciklama], [Tutar]) VALUES (6, N'', N'A.DEDE, CAFER REİS ', N'MUHASEBEYE SORULACAK', CAST(924.00 AS Numeric(18, 2)))
INSERT [dbo].[KaraListe] ([KaraListeID], [Firma], [Gemi], [Aciklama], [Tutar]) VALUES (7, N'AKAR DENİZ, ZEYNAZ DENİZCİLİK', N'ZEYNAZ, TOKAY, AKAR', NULL, CAST(586.00 AS Numeric(18, 2)))
INSERT [dbo].[KaraListe] ([KaraListeID], [Firma], [Gemi], [Aciklama], [Tutar]) VALUES (8, N'AKAR GRUP', N'MEHMET SEFA, ALİ M', N'AVUKATLIK', NULL)
SET IDENTITY_INSERT [dbo].[KaraListe] OFF
/****** Object:  Table [dbo].[GunlukNot]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GunlukNot]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GunlukNot](
	[GunlukNotID] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [text] NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_GunlukNot] PRIMARY KEY CLUSTERED 
(
	[GunlukNotID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[GunlukNot] ON
INSERT [dbo].[GunlukNot] ([GunlukNotID], [Aciklama], [Tarih]) VALUES (1, N'{\rtf1\ansi\ansicpg1254\deff0\deflang1055{\fonttbl{\f0\fnil\fcharset162 Microsoft Sans Serif;}}
\viewkind4\uc1\pard\f0\fs17 Zeki Bey Barge''si karada. (24.01.2014)\par
}
', CAST(0x1A380B00 AS Date))
INSERT [dbo].[GunlukNot] ([GunlukNotID], [Aciklama], [Tarih]) VALUES (2, N'{\rtf1\ansi\ansicpg1254\deff0\deflang1055{\fonttbl{\f0\fnil\fcharset162 Microsoft Sans Serif;}}
\viewkind4\uc1\pard\f0\fs17 Zeki Bey Barge''si karada. (24.01.2014)\par
}
', CAST(0x1A380B00 AS Date))
INSERT [dbo].[GunlukNot] ([GunlukNotID], [Aciklama], [Tarih]) VALUES (3, N'{\rtf1\ansi\ansicpg1254\deff0\deflang1055{\fonttbl{\f0\fnil\fcharset162 Microsoft Sans Serif;}}
\viewkind4\uc1\pard\f0\fs17 Zeki Bey Barge''si karada. (24.01.2014)\fs17\par
}
', CAST(0x1B380B00 AS Date))
SET IDENTITY_INSERT [dbo].[GunlukNot] OFF
/****** Object:  Table [dbo].[GostergeBilgi]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GostergeBilgi]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GostergeBilgi](
	[GostergeBilgiID] [int] IDENTITY(1,1) NOT NULL,
	[BargeID] [int] NULL,
	[MevcutSu] [int] NULL,
	[VerilenSu] [int] NULL,
	[GidilenGemi] [int] NULL,
	[MevcutYakit] [int] NULL,
	[AnlikYakit] [int] NULL,
	[Mevkii] [nvarchar](50) NULL,
	[Durumu] [nvarchar](50) NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_GostergeBilgi] PRIMARY KEY CLUSTERED 
(
	[GostergeBilgiID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[GostergeBilgi] ON
INSERT [dbo].[GostergeBilgi] ([GostergeBilgiID], [BargeID], [MevcutSu], [VerilenSu], [GidilenGemi], [MevcutYakit], [AnlikYakit], [Mevkii], [Durumu], [Tarih]) VALUES (1, 1, 100, 105, 4, 1542, 27, N'KARTAL', N'İKMAL', CAST(0x1B380B00 AS Date))
INSERT [dbo].[GostergeBilgi] ([GostergeBilgiID], [BargeID], [MevcutSu], [VerilenSu], [GidilenGemi], [MevcutYakit], [AnlikYakit], [Mevkii], [Durumu], [Tarih]) VALUES (2, 2, 254, 84, 2, 1661, 23, N'Y.KULE', N'DEMİRDE', CAST(0x1B380B00 AS Date))
INSERT [dbo].[GostergeBilgi] ([GostergeBilgiID], [BargeID], [MevcutSu], [VerilenSu], [GidilenGemi], [MevcutYakit], [AnlikYakit], [Mevkii], [Durumu], [Tarih]) VALUES (3, 3, 323, 47, 2, 1162, 23, N'Y.KULE', N'DEMİRDE', CAST(0x1B380B00 AS Date))
SET IDENTITY_INSERT [dbo].[GostergeBilgi] OFF
/****** Object:  Table [dbo].[BargeFisi]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BargeFisi]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BargeFisi](
	[FisID] [int] IDENTITY(1,1) NOT NULL,
	[BargeID] [int] NOT NULL,
	[IslemTipi] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[SuMiktar] [int] NOT NULL,
	[YakitMiktar] [int] NOT NULL,
 CONSTRAINT [PK_BargeFisi] PRIMARY KEY CLUSTERED 
(
	[FisID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[BargeFisi] ON
INSERT [dbo].[BargeFisi] ([FisID], [BargeID], [IslemTipi], [Tarih], [SuMiktar], [YakitMiktar]) VALUES (1, 5, 1, CAST(0x13380B00 AS Date), -25, -17)
INSERT [dbo].[BargeFisi] ([FisID], [BargeID], [IslemTipi], [Tarih], [SuMiktar], [YakitMiktar]) VALUES (2, 2, 1, CAST(0x13380B00 AS Date), -40, 22)
INSERT [dbo].[BargeFisi] ([FisID], [BargeID], [IslemTipi], [Tarih], [SuMiktar], [YakitMiktar]) VALUES (3, 4, 1, CAST(0x13380B00 AS Date), -60, 64)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[BargeFisi] OFF
/****** Object:  Table [dbo].[Barge]    Script Date: 01/29/2014 00:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Barge]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Barge](
	[BargeID] [int] IDENTITY(1,1) NOT NULL,
	[GemiAdi] [nvarchar](50) NOT NULL,
	[BargeKodu] [nvarchar](50) NULL,
	[SiraNo] [int] NULL,
	[YakitKapasite] [int] NULL,
	[HarcamaSuBasarken] [decimal](18, 0) NULL,
	[HarcamaSeyir] [decimal](18, 0) NULL,
	[HarcamaBekleme] [decimal](18, 0) NULL,
	[YakitMevcudu] [int] NULL,
	[Tonaj] [int] NULL,
	[SuMevcudu] [int] NULL,
	[Saat1Baslangic] [int] NULL,
	[Saat1Bitis] [int] NULL,
	[Saat2Baslangic] [int] NULL,
	[Saat2Bitis] [int] NULL,
	[Saat3Baslangic] [int] NULL,
	[Saat3Bitis] [int] NULL,
	[Saat4Baslangic] [int] NULL,
	[Saat4Bitis] [int] NULL,
	[Durumu] [nvarchar](50) NULL,
	[Mevkii] [nvarchar](50) NULL,
	[KayitTarihi] [datetime] NULL,
	[DegisiklikTarihi] [datetime] NULL,
 CONSTRAINT [PK_Barge] PRIMARY KEY CLUSTERED 
(
	[BargeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Barge] ON
SET IDENTITY_INSERT [dbo].[Barge] OFF
/****** Object:  Default [DF_GostergeBilgi_MevcutSu]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_GostergeBilgi_MevcutSu]') AND parent_object_id = OBJECT_ID(N'[dbo].[GostergeBilgi]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GostergeBilgi_MevcutSu]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GostergeBilgi] ADD  CONSTRAINT [DF_GostergeBilgi_MevcutSu]  DEFAULT ((0)) FOR [MevcutSu]
END


End
GO
/****** Object:  Default [DF__GostergeBilgi__Kalan__5B78929E]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__GostergeBilgi__Kalan__5B78929E]') AND parent_object_id = OBJECT_ID(N'[dbo].[GostergeBilgi]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__GostergeBilgi__Kalan__5B78929E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GostergeBilgi] ADD  CONSTRAINT [DF__GostergeBilgi__Kalan__5B78929E]  DEFAULT ((0)) FOR [VerilenSu]
END


End
GO
/****** Object:  Default [DF_GostergeBilgi_GidilenGemi]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_GostergeBilgi_GidilenGemi]') AND parent_object_id = OBJECT_ID(N'[dbo].[GostergeBilgi]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GostergeBilgi_GidilenGemi]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GostergeBilgi] ADD  CONSTRAINT [DF_GostergeBilgi_GidilenGemi]  DEFAULT ((0)) FOR [GidilenGemi]
END


End
GO
/****** Object:  Default [DF_GostergeBilgi_MevcutYakit]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_GostergeBilgi_MevcutYakit]') AND parent_object_id = OBJECT_ID(N'[dbo].[GostergeBilgi]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GostergeBilgi_MevcutYakit]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GostergeBilgi] ADD  CONSTRAINT [DF_GostergeBilgi_MevcutYakit]  DEFAULT ((0)) FOR [MevcutYakit]
END


End
GO
/****** Object:  Default [DF_GostergeBilgi_AnlikYakit]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_GostergeBilgi_AnlikYakit]') AND parent_object_id = OBJECT_ID(N'[dbo].[GostergeBilgi]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GostergeBilgi_AnlikYakit]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GostergeBilgi] ADD  CONSTRAINT [DF_GostergeBilgi_AnlikYakit]  DEFAULT ((0)) FOR [AnlikYakit]
END


End
GO
/****** Object:  Default [DF_GostergeBilgi_Tarih]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_GostergeBilgi_Tarih]') AND parent_object_id = OBJECT_ID(N'[dbo].[GostergeBilgi]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GostergeBilgi_Tarih]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GostergeBilgi] ADD  CONSTRAINT [DF_GostergeBilgi_Tarih]  DEFAULT (getdate()) FOR [Tarih]
END


End
GO
/****** Object:  Default [DF_NakitOdeme_Tarih]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_NakitOdeme_Tarih]') AND parent_object_id = OBJECT_ID(N'[dbo].[NakitOdeme]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_NakitOdeme_Tarih]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[NakitOdeme] ADD  CONSTRAINT [DF_NakitOdeme_Tarih]  DEFAULT (getdate()) FOR [Tarih]
END


End
GO
/****** Object:  Default [DF_SayacDolum_AlinanSuFarki]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_SayacDolum_AlinanSuFarki]') AND parent_object_id = OBJECT_ID(N'[dbo].[SayacDolum]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_SayacDolum_AlinanSuFarki]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SayacDolum] ADD  CONSTRAINT [DF_SayacDolum_AlinanSuFarki]  DEFAULT ((0)) FOR [AlinanSuFarki]
END


End
GO
/****** Object:  Default [DF__Siparis__OnSipar__25869641]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__Siparis__OnSipar__25869641]') AND parent_object_id = OBJECT_ID(N'[dbo].[Siparis]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__Siparis__OnSipar__25869641]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Siparis] ADD  CONSTRAINT [DF__Siparis__OnSipar__25869641]  DEFAULT ((1)) FOR [OnSiparis]
END


End
GO
/****** Object:  Default [DF__Siparis__KayitTa__267ABA7A]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__Siparis__KayitTa__267ABA7A]') AND parent_object_id = OBJECT_ID(N'[dbo].[Siparis]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__Siparis__KayitTa__267ABA7A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Siparis] ADD  CONSTRAINT [DF__Siparis__KayitTa__267ABA7A]  DEFAULT (getdate()) FOR [KayitTarihi]
END


End
GO
/****** Object:  Default [DF_SuDolum_Tarih]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_SuDolum_Tarih]') AND parent_object_id = OBJECT_ID(N'[dbo].[SuDolum]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_SuDolum_Tarih]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SuDolum] ADD  CONSTRAINT [DF_SuDolum_Tarih]  DEFAULT (getdate()) FOR [Tarih]
END


End
GO
/****** Object:  Default [DF_SuDolum_Miktar]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_SuDolum_Miktar]') AND parent_object_id = OBJECT_ID(N'[dbo].[SuDolum]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_SuDolum_Miktar]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SuDolum] ADD  CONSTRAINT [DF_SuDolum_Miktar]  DEFAULT ((0)) FOR [Miktar]
END


End
GO
/****** Object:  Default [DF__TeslimFis__Veril__164452B1]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__TeslimFis__Veril__164452B1]') AND parent_object_id = OBJECT_ID(N'[dbo].[TeslimFisi]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__TeslimFis__Veril__164452B1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TeslimFisi] ADD  CONSTRAINT [DF__TeslimFis__Veril__164452B1]  DEFAULT ((0)) FOR [VerilenSu]
END


End
GO
/****** Object:  Default [DF__TeslimFis__Harca__173876EA]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__TeslimFis__Harca__173876EA]') AND parent_object_id = OBJECT_ID(N'[dbo].[TeslimFisi]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__TeslimFis__Harca__173876EA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TeslimFisi] ADD  CONSTRAINT [DF__TeslimFis__Harca__173876EA]  DEFAULT ((0)) FOR [HarcananMazot]
END


End
GO
/****** Object:  Default [DF__TeslimFis__Alina__182C9B23]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__TeslimFis__Alina__182C9B23]') AND parent_object_id = OBJECT_ID(N'[dbo].[TeslimFisi]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__TeslimFis__Alina__182C9B23]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TeslimFisi] ADD  CONSTRAINT [DF__TeslimFis__Alina__182C9B23]  DEFAULT ((0)) FOR [AlinanPara]
END


End
GO
/****** Object:  Default [DF_YakitDolum_Tarih]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_YakitDolum_Tarih]') AND parent_object_id = OBJECT_ID(N'[dbo].[YakitDolum]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_YakitDolum_Tarih]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[YakitDolum] ADD  CONSTRAINT [DF_YakitDolum_Tarih]  DEFAULT (getdate()) FOR [Tarih]
END


End
GO
/****** Object:  Default [DF_YakitDolum_Miktar]    Script Date: 01/29/2014 00:30:25 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_YakitDolum_Miktar]') AND parent_object_id = OBJECT_ID(N'[dbo].[YakitDolum]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_YakitDolum_Miktar]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[YakitDolum] ADD  CONSTRAINT [DF_YakitDolum_Miktar]  DEFAULT ((0)) FOR [Miktar]
END


End
GO
