USE [IssuSiparisDB]
GO
/****** Object:  StoredProcedure [dbo].[prSiparisUpdate]    Script Date: 03/08/2014 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prSiparisUpdate]
	@fSiparisID int,
	@fOnSiparis bit,
	@fEK1 nvarchar(1),
	@fGemiAdi nvarchar(50),
	@fMusteriAdi nvarchar(50),
	@fGeldigiYon nvarchar(50),
	@fAciklama nvarchar(50),
	@fMiktar int,
	@fTeslimYeri nvarchar(50),
	@fTeslimTarihi datetime,
	@fBargeID int
AS
BEGIN
DECLARE @ISGOOD int
	
	SET @ISGOOD = 0

    BEGIN TRAN

	UPDATE Siparis SET 
		OnSiparis	= @fOnSiparis,
		EK1			= @fEK1,
		GemiAdi		= @fGemiAdi,
		MusteriAdi	= @fMusteriAdi,
		GeldigiYon	= @fGeldigiYon,
		Aciklama	= @fAciklama,
		Miktar		= @fMiktar,
		TeslimYeri	= @fTeslimYeri,
		TeslimTarihi= @fTeslimTarihi,
		BargeID		= @fBargeID
	WHERE SiparisID=@fSiparisID

	IF @@ERROR <> 0 SET @ISGOOD = 1
	IF @ISGOOD = 0 
		COMMIT TRAN
	ELSE
		ROLLBACK TRAN	
	
END
GO
