USE [IssuSiparisDB]
GO
/****** Object:  StoredProcedure [dbo].[prInsertSiparis]    Script Date: 03/08/2014 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Kaplan Cem Eren>
-- =============================================
CREATE PROCEDURE [dbo].[prInsertSiparis] 
	
	@fOnSiparis bit,
	@fEK1 nvarchar(1),
	@fGemiAdi nvarchar(50),
	@fMusteriAdi nvarchar(50),
	@fGeldigiYon nvarchar(50),
	@fAciklama nvarchar(50),
	@fMiktar int,
	@fTeslimYeri nvarchar(50),
	@fTeslimTarihi datetime,
	@fBargeID int
AS
BEGIN

	INSERT INTO Siparis (OnSiparis, BargeID, GemiAdi, MusteriAdi, Aciklama, EK1, GeldigiYon, Miktar ,TeslimYeri ,TeslimTarihi) 
		   VALUES (@fOnSiparis, @fBargeID, @fGemiAdi, @fMusteriAdi, @fAciklama, @fEK1, @fGeldigiYon, @fMiktar, @fTeslimYeri, @fTeslimTarihi)
END
GO
