USE [IssuSiparisDB]
GO
/****** Object:  StoredProcedure [dbo].[prSayacInsert]    Script Date: 03/08/2014 21:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Kaplan Cem EREN
-- ISSU 2014
-- Dolum sayaclari kayit sp. 
-- =============================================
CREATE PROCEDURE [dbo].[prSayacInsert] 
	
@pSayacID			int,
@pBargeID			int,
@pDolumTarihi		datetime,
@pBaslangicSayac	int,
@pBitisSayac		int,
@pSayacSonuc		int,
@pGemideOkunan		int,
@pGemideOlan		int,
@pSayacFarki		int,
@pAlinanSuFarki		int,
@pSeyirSuresi		int,
@pAciklama			nvarchar(150)
	
AS
BEGIN
DECLARE @ISGOOD int
DECLARE @pFisID int

DECLARE @BIRIMYAKITSeyir decimal
DECLARE @HARCANAN decimal -- Seyir
DECLARE @GemiSuMevcudu int

	SELECT @BIRIMYAKITSeyir = HarcamaSeyir FROM Barge Where BargeID = @pBargeID
	SET @HARCANAN = (@BIRIMYAKITSeyir * @pSeyirSuresi) / 60.0
	SET @ISGOOD = 0
	SET @GemiSuMevcudu = @pGemideOkunan - @pGemideOlan
	
	BEGIN TRAN	
	-- Ilgili fisi oluştur	
	EXEC prBargeFisiInsert 	@pFisID OUTPUT, @pBargeID, 2, @pDolumTarihi, @GemiSuMevcudu , @HARCANAN, N'Sayaç dolum işlemi.'
	-- SayacDolum tablosu girisi
	INSERT INTO SayacDolum (BargeID, FisID, DolumTarihi, BaslangicSayac, BitisSayac, SayacSonuc, GemideOkunan, GemideOlan, SayacFarki, AlinanSuFarki, SeyirSuresi,  Aciklama, HarcananMazot)
		VALUES (@pBargeID, @pFisID, @pDolumTarihi, @pBaslangicSayac, @pBitisSayac, @pSayacSonuc, @pGemideOkunan, @pGemideOlan, @pSayacFarki, @pAlinanSuFarki, @pSeyirSuresi, @pAciklama, @HARCANAN)

	IF @@ERROR <> 0 
		SET @ISGOOD = 1
	ELSE
	BEGIN -- Barge Tablosu guncelle
		DECLARE @pYakitMiktari decimal
		-- Mevcut yakittan harcanani dus
		SELECT @pYakitMiktari = YakitMevcudu - @HARCANAN FROM Barge WHERE BargeID=@pBargeID
		IF @@ERROR <> 0 SET @ISGOOD = 1
		UPDATE Barge SET SuMevcudu =  @GemiSuMevcudu,
						 YakitMevcudu = @pYakitMiktari 
		       WHERE BargeID=@pBargeID
		IF @@ERROR <> 0 SET @ISGOOD = 1
	END -- Barge Tablosu guncelle
	IF @ISGOOD = 0 
		COMMIT TRAN
	ELSE
		ROLLBACK TRAN
	
END
GO
