USE [IssuSiparisDB]
GO
/****** Object:  StoredProcedure [dbo].[prSayacDolumListe]    Script Date: 03/08/2014 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prSayacDolumListe]
(
@pIlkTarih datetime,
@pSonTarih datetime,
@pBarge int
)
AS
BEGIN

	IF @pBarge = 0 OR @pBarge IS NULL
		SELECT Barge.GemiAdi Gemi,DolumTarihi Tarih, BaslangicSayac SayacBaslama, BitisSayac SayacBitis, SayacSonuc, GemideOkunan GemininAldigi, GemideOlan, AlinanSuFarki, SayacFarki, Aciklama
			FROM SayacDolum LEFT JOIN Barge ON SayacDolum.BargeID=Barge.BargeID 
			WHERE DolumTarihi BETWEEN @pIlkTarih AND @pSonTarih
			ORDER BY BaslangicSayac
	ELSE
		SELECT Barge.GemiAdi Gemi,DolumTarihi Tarih, BaslangicSayac SayacBaslama, BitisSayac SayacBitis, SayacSonuc, GemideOkunan GemininAldigi, GemideOlan, AlinanSuFarki, SayacFarki, Aciklama
			FROM SayacDolum LEFT JOIN Barge ON SayacDolum.BargeID=Barge.BargeID 
			WHERE DolumTarihi BETWEEN @pIlkTarih AND @pSonTarih AND SayacDolum.BargeID=@pBarge
			ORDER BY BaslangicSayac
END
GO
