USE [IssuSiparisDB]
GO
/****** Object:  StoredProcedure [dbo].[prfixYakit]    Script Date: 03/08/2014 21:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prfixYakit]
AS
BEGIN
	DECLARE @pFisID int	
	DECLARE @pBargeID int 

	DECLARE @pMiktar int
	DECLARE @pTarih date
	DECLARE @pYakitDolumID int
	DECLARE cur CURSOR LOCAL for
		SELECT BargeID, Tarih, Miktar, YakitDolumID FROM dbo.YakitDolum

	--truncate table BargeFisi 

	open cur
	fetch next from cur into @pBargeID, @pTarih, @pMiktar, @pYakitDolumID

	WHILE @@FETCH_STATUS = 0 BEGIN	
		EXEC prBargeFisiInsert 	@pFisID Output, @pBargeID, 3, @pTarih, 0, @pMiktar, N'Yakıt Alımı.'
		
		UPDATE YakitDolum SET FisID=@pFisID WHERE YakitDolumID=@pYakitDolumID
		
		fetch next from cur into @pBargeID, @pTarih, @pMiktar, @pYakitDolumID
	END	

END
GO
