USE [IssuSiparisDB]
GO
/****** Object:  StoredProcedure [dbo].[prYakitDolumDelete]    Script Date: 03/08/2014 21:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Kaplan Cem EREN
-- ISSU 2014
-- Dolum sayaclari kayit sp. 
-- =============================================
CREATE PROCEDURE [dbo].[prYakitDolumDelete]
	@fYakitDolumID int
AS
BEGIN
DECLARE @ISGOOD int
DECLARE @pFisID int	
DECLARE @OLDMiktar int
DECLARE @OLDBargeID int
DECLARE @OLDTarih date

	SET @ISGOOD = 0

    BEGIN TRAN	

    SELECT @OLDBargeID=BargeID, @pFisID=FisID, @OLDMiktar=Miktar, @OLDTarih=Tarih FROM YakitDolum WHERE YakitDolumID=@fYakitDolumID
    
	UPDATE Barge SET YakitMevcudu = YakitMevcudu - @OLDMiktar WHERE BargeID=@OLDBargeID
	IF @@ERROR <> 0 SET @ISGOOD = 1

    DELETE FROM YakitDolum WHERE YakitDolumID=@fYakitDolumID
 	IF @@ERROR <> 0 SET @ISGOOD = 1
   
	EXECUTE prBargeFisiDelete @pFisID
	IF @@ERROR <> 0 SET @ISGOOD = 1

	IF @ISGOOD = 0 
		COMMIT TRAN
	ELSE
		ROLLBACK TRAN
END
GO
