USE [IssuSiparisDB]
GO
/****** Object:  StoredProcedure [dbo].[SuDolumUpdate]    Script Date: 03/08/2014 21:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuDolumUpdate]
@pSuDolumID int,
@pDolumSeyirSuresi int,
@pDolumBargeID int,
@pAlanSeyirSuresi int,
@pAlanBargeID int,
@pTarih date,
@pMiktar  int,
@pBaslamaTarihi datetime,
@pBitisTarihi datetime


AS
BEGIN
DECLARE @ISGOOD int
DECLARE @TARIH2 date
DECLARE @MEVCUTSU int
DECLARE @MEVCUTYAKIT int
DECLARE @OLDMEVCUTSU int
DECLARE @OLDMEVCUTYAKIT int
DECLARE @GID int --GostergebilgiID
DECLARE @pDolumFisID  int
DECLARE @pAlanFisID int
DECLARE @DOLUMSeyir decimal
DECLARE @OLDDOLUMBargeID int
DECLARE @OLDALANBargeID int
DECLARE @DOLUMSuBasma decimal
DECLARE @ALANSeyir decimal
DECLARE @OLDDOLUMSeyir decimal
DECLARE @OLDDOLUMSuBasma decimal
DECLARE @OLDALANSeyir decimal
DECLARE @OLDTARIH date
DECLARE @OLDMIKTAR int
DECLARE @OLDBASLAMA datetime
DECLARE @OLDBITIS datetime
DECLARE @SURE int -- Su Basarken
DECLARE @OLDSURE int
DECLARE @TOTALSU int
DECLARE @DOLUMHARCANAN decimal
DECLARE @ALANHARCANAN decimal
DECLARE @DOLUMMIKTAR int -- negatif olmasi icin


	SELECT @OLDDOLUMSeyir=DolumSeyirSuresi, @OLDDOLUMBargeID=DolumBargeID,  
		   @OLDALANSeyir=AlanSeyirSuresi, @OLDALANBargeID=AlanBargeID,
		   @OLDTARIH=Tarih, @OLDMIKTAR=Miktar, @OLDBASLAMA=BaslamaTarihi, @OLDBITIS=BitisTarihi,
		   @pDolumFisID=DolumFisID, @pAlanFisID=AlanFisID FROM SuDolum WHERE SuDolumID=@pSuDolumID

	SET @OLDSURE = DATEDIFF(MI,@OLDBASLAMA, @OLDBITIS)

	SELECT @DOLUMSeyir = HarcamaSeyir, @DOLUMSuBasma=HarcamaSuBasarken FROM Barge Where BargeID = @pDolumBargeID
	SELECT @ALANSeyir = HarcamaSeyir FROM Barge Where BargeID = @pAlanBargeID
	SET @SURE = DATEDIFF(MI,@pBaslamaTarihi, @pBitisTarihi)
	SET @DOLUMHARCANAN = 0 - ((@DOLUMSeyir * @pDolumSeyirSuresi) + (@DOLUMSuBasma * @SURE) / 60.0)
	SET @ALANHARCANAN = 0 - (@ALANSeyir * @pAlanSeyirSuresi) / 60.0
	
	SET @DOLUMMIKTAR = 0 - @pMiktar
	SET @TARIH2=DATEADD(dd,1,@pTarih)
	SET @ISGOOD = 0

BEGIN TRAN    	
	IF @pDolumFisID IS NULL
   		EXEC prBargeFisiInsert 	@pDolumFisID OUTPUT, @pDolumBargeID, 1, @pTarih, @DOLUMMIKTAR , @DOLUMHARCANAN
	ELSE
	   	EXEC prBargeFisiUPDATE 	@pDolumFisID, @pDolumBargeID, 1, @pTarih, @DOLUMMIKTAR , @DOLUMHARCANAN
   	IF @pAlanFisID IS NULL
   		EXEC prBargeFisiInsert 	@pAlanFisID OUTPUT, @pAlanBargeID, 1, @pTarih, @pMiktar , @ALANHARCANAN
	ELSE
   		EXEC prBargeFisiUPDATE 	@pAlanFisID, @pAlanBargeID, 1, @pTarih, @pMiktar , @ALANHARCANAN

    UPDATE SuDolum SET DolumSeyirSuresi=@pDolumSeyirSuresi, DolumBargeID=@pDolumBargeID, 
		AlanSeyirSuresi=@pAlanSeyirSuresi, AlanBargeID=@pAlanBargeID, Tarih=@pTarih, 
		Miktar=@pMiktar, BaslamaTarihi=@pBaslamaTarihi, BitisTarihi=@pBitisTarihi, 
		DolumFisID=@pDolumFisID, AlanFisID=@pAlanFisID
	WHERE SuDolumID=@pSuDolumID

	IF @@ERROR <> 0 
		SET @ISGOOD = 1
	ELSE
	BEGIN
		-- Eger barge degistiyse eski Barge larin su mevcudunu eski haline al
		IF @OLDDOLUMBargeID <> @pDolumBargeID
		BEGIN
			UPDATE Barge SET SuMevcudu = SuMevcudu + @OLDMIKTAR
			       WHERE BargeID=@OLDDOLUMBargeID
			IF @@ERROR = 0
			-- Yeni Barge su mevcudunu guncelle
				UPDATE Barge SET SuMevcudu = SuMevcudu - @pMiktar
					WHERE BargeID=@pDolumBargeID 	
		END		
		IF @@ERROR <> 0 SET @ISGOOD = 1
			
		IF @OLDALANBargeID <> @pAlanBargeID
		BEGIN
			UPDATE Barge SET SuMevcudu = SuMevcudu - @OLDMIKTAR  WHERE BargeID=@OLDALANBargeID
			IF @@ERROR = 0	UPDATE Barge SET SuMevcudu = SuMevcudu + @pMiktar WHERE BargeID=@pAlanBargeID 
		END	
			
		IF @@ERROR <> 0 SET @ISGOOD = 1
	END
	IF @ISGOOD = 0 
		COMMIT TRAN
	ELSE
		ROLLBACK TRAN
END
GO
