USE [IssuSiparisDB]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_Gosterge]    Script Date: 03/08/2014 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kaplan Cem EREN
-- ALTER date: 04.02.2014
-- Description:	This Function returns the date of
--     first day of the month.
-- =============================================
CREATE FUNCTION [dbo].[udf_Gosterge]
(	
	-- Add the parameters for the function here
	@fTeslimTarihi date
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT B.BargeID, B.SuMevcudu, SUM(T.VerilenSu) AS Verilen, COUNT(T.VerilenSu) AS GemiAdedi, B.YakitMevcudu, p3.AnlikYakit, Mevkii, Durumu, @fTeslimTarihi AS Tarih
	FROM   Barge B LEFT OUTER JOIN TeslimFisi T ON B.BargeID = T.BargeID AND (DATEDIFF(DD,T.BaslamaTarihi,CONVERT(varchar(10), @fTeslimTarihi, 101))=0)
		LEFT OUTER JOIN
		(
			SELECT TOP 10 p1.BargeID,p1.HarcananMazot AS AnlikYakit
			FROM TeslimFisi p1 
			WHERE BaslamaTarihi=(
				SELECT MAX(BaslamaTarihi) 
				FROM TeslimFisi p2 
				WHERE p2.BargeID=p1.BargeID AND (DATEDIFF(DD,BaslamaTarihi,CONVERT(smalldatetime, @fTeslimTarihi, 101))=0))
			ORDER BY BargeID,BaslamaTarihi

		) p3 ON T.BargeID=p3.BargeID
	-- WHERE 
	--WHERE (DATEDIFF(DD,S.TeslimTarihi,CONVERT(varchar(10), '2013-11-19', 101))=0)
	GROUP BY B.BargeID, B.SuMevcudu, B.YakitKapasite, B.YakitMevcudu, p3.AnlikYakit, Durumu, Mevkii,Tarih
)
GO
