USE [IssuSiparisDB]
GO
/****** Object:  Default [DF__Siparis__OnSipar__25869641]    Script Date: 03/08/2014 21:52:42 ******/
ALTER TABLE [dbo].[Siparis] ADD  CONSTRAINT [DF__Siparis__OnSipar__25869641]  DEFAULT ((1)) FOR [OnSiparis]
GO
