USE [IssuSiparisDB]
GO
/****** Object:  Default [DF__Siparis__KayitTa__267ABA7A]    Script Date: 03/08/2014 21:52:42 ******/
ALTER TABLE [dbo].[Siparis] ADD  CONSTRAINT [DF__Siparis__KayitTa__267ABA7A]  DEFAULT (getdate()) FOR [KayitTarihi]
GO
