USE [IssuSiparisDB]
GO
/****** Object:  Default [DF_SayacDolum_AlinanSuFarki]    Script Date: 03/08/2014 21:52:42 ******/
ALTER TABLE [dbo].[SayacDolum] ADD  CONSTRAINT [DF_SayacDolum_AlinanSuFarki]  DEFAULT ((0)) FOR [AlinanSuFarki]
GO
