USE [IssuSiparisDB]
GO
/****** Object:  Default [DF_SuDolum_Tarih]    Script Date: 03/08/2014 21:52:42 ******/
ALTER TABLE [dbo].[SuDolum] ADD  CONSTRAINT [DF_SuDolum_Tarih]  DEFAULT (getdate()) FOR [Tarih]
GO
