USE [IssuSiparisDB]
GO
/****** Object:  Default [DF_YakitDolum_Miktar]    Script Date: 03/08/2014 21:52:42 ******/
ALTER TABLE [dbo].[YakitDolum] ADD  CONSTRAINT [DF_YakitDolum_Miktar]  DEFAULT ((0)) FOR [Miktar]
GO
